<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403</location>
    </error-page>
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <ejb-ref>
        <ejb-ref-name>EmailFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>by.kursovaa.interfaces.EmailFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>KassaFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>by.kursovaa.interfaces.KassaFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>KategoriiFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>by.kursovaa.interfaces.KategoriiFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>KlientyFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>by.kursovaa.interfaces.KlientyFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>PolzovateliFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>by.kursovaa.interfaces.PolzovateliFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>TovaryFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>by.kursovaa.interfaces.TovaryFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ZakazInfoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>by.kursovaa.interfaces.ZakazInfoFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ZakazStatusFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>by.kursovaa.interfaces.ZakazStatusFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ZakazyFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>by.kursovaa.interfaces.ZakazyFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>Sevice</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>by.kursovaa.interfaces.SeviceRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>EmailService</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>by.kursovaa.interfaces.EmailServiceRemote</remote>
    </ejb-ref>
</web-app>
