<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <footer class="main-footer" th:fragment="footer" >
            <div class="pull-right hidden-xs">
                <b>Версия</b> 1.2.0
            </div>
            <strong id="copyright">
                Copyright &copy; 
                <script type="text/javascript">
                    document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()));
                </script> 
                <a href="http://www.doktoronix.net.ua/">Интернет магазин "Доктор Оникс"</a>.</strong> 
            Все права защищены.
        </footer>
    </body>
</html>
